//variables
$toc-width: 300px; //width of table of contents


// custom scrollbar
::-webkit-scrollbar {
  @include mq(sm) {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
  }
}
  
::-webkit-scrollbar-thumb {
  @include mq(sm) {  
    background-color: #a1232731;
    border-radius: 30px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
}
  
::-webkit-scrollbar-track {
  @include mq(sm) {  
    background-color: transparent;
  }
}

body::-webkit-scrollbar-track {
  @include mq(lg) {  
    background-color: $sidebar-color;
  }
}
  
::-webkit-scrollbar-thumb:hover {
  @include mq(sm) {
    background-color: #a1232796;
  }
}


// left side-bar
.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  @include mq(md) {
    //flex-wrap: nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    flex-direction: column;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    min-width: $nav-width;
  }
}

// header containing site title
// located in top left, above site navigation
.site-header {
  background-color: #17245C;
}

// text located in site-header
.site-title {
  color: #FFFFFF;
  padding-top: $sp-4;
  padding-bottom: $sp-4;
  font-size: 20px !important;
}

// site navigation located in left side-bar
#site-nav{
  overflow-y: auto;
  height: 500px;
  padding-top: 0px;
  margin-top: 25px;

  @include mq(md) {
    height: 0;
  }
}



// table of contents side-bar
// not including platform selection feature located above
.toc {
  display:none;

  @include mq(lg) {
    display:block;
    position: fixed;
    min-width: $toc-width;
    right: 0;
    top: 60px;
    bottom: 0;
    width: $toc-width;
    background-color: $sidebar-color;
    border-left: $border $border-color;
    padding-top: 8px;
    padding-left: 0;
    padding-right: 12px;
    overflow-y: auto;
  }
}

// Local table of contents heading
.toc b {
  margin-left: 20px;
  font-size: 17px;
  color: #17245C;
}

// table of contents list
.toc ul{
  list-style: none;
  padding-left: 20px;
}

// table of contents elements of sections that are currently visible on screen
// implementation of ScrollSpy-feature
.toc li.active > a {
  font-weight: 640;
}

// header above table of contents including platform selection feature
.platform_form {

  @include mq(lg) {
    display:block;
    position: fixed;
    width: $toc-width;
    right: 0;
    top: 0;
    margin-top:0;
    height: 60px;
    padding-left: 0;
    background-color: $sidebar-color;
    border-bottom: $border $border-color;
    border-left: $border $border-color;
    line-height:60px;
  }
}

// Platform selection feature heading
.platform_form b {
  @include mq(lg) {
    //width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $toc-width;

  margin-left: 20px;
  font-size: 17px;
  }
}



// main content
// including search and aux-link bar
.main {
@include mq(md) {
  background-color: #FFFFFF;
  position: relative;
  max-width: $content-width;
  margin-left: $nav-width-md;

}

@include mq(lg) {
  margin-left: $nav-width;
  margin-right: $toc-width;
}
}

// images and iframe videos in main content
.main img, iframe {
  border: 1px solid #000000;   
}

// all images
img {
  @include mq(sm) {
    width: 725px;
    margin-left:10px;
  }
  @include mq(md) {
    margin-left:20px;
  }
}

// images that should be displayed bigger
img.big-size {
  margin-left:0;
  width: 900px;
}

// images without borders
img.no-border {
  border:none;
}

// hidden platform specific images
.hidden {
  display: none;
}

// aux-link in top-bar
.aux-nav {
  display:none;

  @include mq(md) {
    display:block;
  }
}

// superscripts in breadcrumb navigation
.breadcrumb-nav sup {
  display:none;
}

// "updated" superscripts
sup.updated {
  color:blue;
  font-size:55%;
  top: -0.62em;
  font-weight:bolder;
}

// "new" superscripts
sup.new {
  color:red;
  font-size:55%;
  top: -0.62em;
  font-weight:bolder;
}


body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  outline: none;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
