//variables
$toc-width: 250px; //width of table of contents


// custom scrollbar
::-webkit-scrollbar {
  -webkit-appearance: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }


// left side-bar
.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  @include mq(md) {
    //flex-wrap: nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    flex-direction: column;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    min-width: $nav-width;
  }
}

// header containing site title
// located in top left, above site navigation
.site-header {
  background-color: #17245C;
}

// text located in site-header
.site-title {
  color: #FFFFFF;
  padding-top: $sp-4;
  padding-bottom: $sp-4;
  font-size: 20px !important;
}

// site navigation located in left side-bar
#site-nav{
  overflow-y: auto;
  height: 500px;
  padding-top: 0px;
  margin-top: 25px;

  @include mq(md) {
    height: 0;
  }
}



// table of contents side-bar
// not including platform selection feature located above
.toc {
  display:none;

  @include mq(lg) {
    display:block;
    position: fixed;
    min-width: $toc-width;
    right: 0;
    top: 60px;
    bottom: 0;
    width: $toc-width;
    background-color: $sidebar-color;
    border-left: $border $border-color;
    padding-top: 8px;
    padding-left: 0;
    padding-right: 12px;
    overflow-y: auto;
  }
}

// Local table of contents heading
.toc b {
  margin-left: 20px;
  font-size: 17px;
  color: #17245C;
}

// table of contents list
.toc ul{
  list-style: none;
  padding-left: 20px;
}

// table of contents elements of sections that are currently visible on screen
// implementation of ScrollSpy-feature
.toc li.active > a {
  font-weight: 640;
}

// header above table of contents including platform selection feature
.platform_form {

  @include mq(lg) {
    display:block;
    position: fixed;
    width: $toc-width;
    right: 0;
    top: 0;
    margin-top:0;
    height: 60px;
    padding-left: 0;
    background-color: $sidebar-color;
    border-bottom: $border $border-color;
    border-left: $border $border-color;
    line-height:60px;
  }
}

// Platform selection feature heading
.platform_form b {
  @include mq(lg) {
    //width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $toc-width;

  margin-left: 20px;
  font-size: 17px;
  }
}



// main content
// including search and aux-link bar
.main {
@include mq(md) {
  background-color: #FFFFFF;
  position: relative;
  max-width: $content-width;
  margin-left: $nav-width-md;

}

@include mq(lg) {
  margin-left: $nav-width;
  margin-right: $toc-width;
}
}

// images and iframe videos in main content
.main img, iframe {
  border: 1px solid #000000;   
}

// hidden platform specific images
.hidden {
  display: none;
}

// aux-link in top-bar
.aux-nav {
  display:none;

  @include mq(md) {
    display:block;
  }
}
