// change layout by setting the sidebar width to a set size
$nav-width: 325px;
$nav-width-md: 325px;
$content-width: calc(100% - #{$nav-width});

$toc-width: 295px;

// change color of all links
$link-color: #db412d;

// change color of headings
$body-heading-color: #a12327;



